@import "bootstrap/less/variables";

@import "fonts";


@level-height: 100px;
@car-width: 25%;


#content {
	padding: @grid-gutter-width;
}

#elevator-view {
	margin: 0;
	height: calc(100vh - 2 * @grid-gutter-width);

	& > .panel-body {
		position: relative;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.level {
		position: relative;
		border-bottom: 1px solid #ddd;

		&:last-child {
			border-bottom: none;
		}
	}

	.door-left,
	.door-right {
		width: (@car-width / 2);
		background-color: rgba(0, 0, 0, 0.5);
		transition-property: left, right;
		transition-duration: 250ms;
		transition-timing-function: ease-in-out;
	}

	.door-left {
		left: (50% - @car-width / 2);
	}

	.door-right {
		right: (50% - @car-width / 2);
	}

	.level.open {
		& > .door-left {
			left: 25%;
		}

		& > .door-right {
			right: 25%;
		}
	}

	.request {
		position: absolute;
		top: 50%;
		left: (50% + @car-width / 2 + 5%);
		cursor: pointer;

		&.up {
			margin-top: -20px;
		}

		&.down {
			margin-bottom: -20px;
		}

		&.active {
			color: chartreuse;
		}
	}
}

#elevator-car,
.level {
	height: @level-height;
}

#elevator-car,
.door-left,
.door-right {
	position: absolute;
	top: 0;
	bottom: 0;
}

#elevator-car {
	top: 0;
	left: (50% - @car-width / 2);
	width: @car-width;
	background-color: darkred;
	transition: top 0s linear;
}

#accessory-view {
	display: table;

	& > button {
		float: left;
		margin: 0 @padding-base-horizontal @padding-base-horizontal 0;
	}
}

#accessory-level {
	opacity: 1;

	& > .label {
		font-size: inherit;
		margin-left: (@padding-base-horizontal / 2);
	}
}

#accessory-panel-button {
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		cursor: inherit;
		outline: 0;
		box-shadow: none;
		color: @btn-primary-color;
		background-color: @btn-primary-bg;
		border-color: @btn-primary-border;
	}
}

#accessory-panel {
	max-width: none;

	.row {
		margin-bottom: @grid-gutter-width;

		&:first-child {
			margin-top: (@grid-gutter-width / 2);
		}

		&:last-child {
			margin-bottom: (@grid-gutter-width / 2);
		}
	}
}

#accessory-view .panel {
	.glyphicon {
		font-size: 12px;
	}

	.glyphicon-triangle-top {
		vertical-align: top;
	}

	.glyphicon-triangle-bottom {
		vertical-align: baseline;
	}
}
