.uml-active-state(@stage, @color) {
	.active-@{stage},
	.active-@{stage} text,
	.active-@{stage} rect {
		stroke: @color;
	}

	.active-@{stage},
	.active-@{stage} text {
		fill: @color;
	}
}

#uml-view-mount {
	height: calc(100vh - @grid-gutter-width - 65px);
}

#uml-container {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;

	vertical-align: middle; /* top | middle | bottom ... do what you want */

	& > svg {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-height: 100%;
		backface-visibility: hidden;
		transform: translate3D(0, 0, 0);
	}

	.uml-active-state(2, @brand-danger);
	.uml-active-state(1, @brand-warning);
	.uml-active-state(0, @brand-success);

	.active-0 rect {
		filter: drop-shadow(0 0 1px @brand-success);
	}
}
