### OSX ###
.DS_Store
._*


### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini


### Node ###
node_modules


### Bower ###
bower_components


### grunt ###
dist/
.tmp/


### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdy
docs/projektdokumentation/projektdoku.pdf

*.syg2
